*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #fafafa;
}


.navbar{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 20px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    font-weight: bold;
    font-size: 20px;
    color: #e60023;
}

nav a{
    text-decoration: none;
    color: #111;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 20px;
}

nav a.active,
nav a:hover{
    background: #111;
    color: white;
}

.search-box{
    flex: 1;
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    background: #efefef;
}

.profile{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
}

.grid{
    column-count: 5;
    column-gap: 15px;
    padding: 20px;
}

.card{
    position: relative;
    margin-bottom: 15px;
    break-inside: avoid;
}

.card img{
    width: 100%;
    border-radius: 15px;
}

.card button{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 14px;
    background: #e60023;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    opacity: 0;
}

.card:hover button{
    opacity: 1;
}


@media (max-width: 1200px){
    .grid{ column-count: 4; }
}

@media (max-width: 900px){
    .grid{ column-count: 3; }
}

@media (max-width: 600px){
    .grid{ column-count: 2; }
    nav{ display: none; }
}

